/**Generales**/
:root{
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafo: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --blanco: #ffffff;
    --negro: #000000;
    --gris: #e1e1e1;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
    font-family: var(--fuenteParrafo);
    font-size: 1.6rem;
    line-height: 2;
}


/** Globales**/
.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}

a{text-decoration: none;}

h1, h2, h3, h4{
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1{font-size: 4.8rem;}
h2{font-size: 4rem;}
h3{font-size: 3.2rem;}
h4{font-size: 2.8rem;}

img{max-width: 100%;}


/**Utilidades**/
.no-margin{margin: 0;}

.no-padding{padding:0;}

.centrar-texto{text-align: center;}


/**Header**/
.webp .header{
    background-image: url(../img/banner.webp);
}

.no-webp .header{
    background-image: url(../img/banner.jpg);;
}

.header{
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.barra{
    padding: 4rem 0 0 0;
}

@media (min-width: 768px) {
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo{
    color: var(--blanco);
}

.logo__nombre{
    font-weight: 400;
}

.logo__bold{
    font-weight: 700;
}

.navegacion__enlace{
    display: block;
    font-size: 1.8rem;
    color: var(--blanco);
}

@media (min-width: 768px) {
    .navegacion{
        display: flex;
        gap: 2rem;
    }
    
}

.header__texto{
    margin-top: 5rem;
    color: var(--blanco);
}

@media (min-width: 768px) {
    .header__texto{
        margin-top: 15rem;
    } 
}

/**Contenido**/
@media (min-width: 768px) {
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entrada {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.entrada:last-of-type {
    border: none;
    margin-bottom: 0;
}

.boton{
    display: block;
    color: var(--blanco);
    text-align: center;
    font-family: var(--fuenteHeading);
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 1rem 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

.boton--primario{
    background-color: var(--negro);
}

@media (min-width: 768px) {
    .boton{
        display: inline-block;
    }
}

/**Sidebar**/
.cursos{
    list-style: none;
}

.widget-curso{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.widget-curso:last-of-type {
    border: none;
    margin-bottom: 0;
}

.widget-curso__label, .widget-curso__info{
    font-size: 2rem;
}

.widget-curso__label{
    font-weight: 700;
    font-family: var(--fuenteHeading);
}

.widget-curso__info{
    font-weight: 400;
}

.boton--secundario{
    background-color: var(--primario);
}

/**Footer**/
.footer{
    background-color: var(--negro);
    padding-bottom: 3rem;
    margin-top: 4rem;
}

/**Sobre Nosotros**/
@media (min-width: 768px) {
    .sobre-nosotros{
        display:grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}

/**Cursos**/
.curso {
    border-bottom: 1px solid var(--gris);
    padding: 3rem 0;
}

@media (min-width: 768px) {
    .curso{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}

.curso:last-of-type {
    border: none;
}

.curso__label, .curso__info{
    font-size: 2rem;
}

.curso__label{
    font-weight: 700;
    font-family: var(--fuenteHeading);
}

.curso__info{
    font-weight: 400;
}

/**Contacto**/
.contacto-bg{
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario{
    background-color: var(--blanco);
    width: 95%;
    margin: -5rem auto 0;
    padding: 5rem 5rem 0 5rem;
}

.campo{
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
}

.campo__label{
    flex: 0 0 9rem;
    text-align: right;
}

.campo__field{
    flex: 1;
    border: 1px solid var(--gris);
}

.campo__field--textarea{
    height: 20rem;
}